<section id="em_how_it_works">
  <h1 class="em_monsterat_regular text-center">
    Our goal is to make a dev’s life easier.
  </h1>
  <p class="col-8 offset-2 text-center">
    We know what it’s like to struggle through a failed merge. One day we said - Enough. There’s got to be a better way.
  </p>
  <p class="col-8 offset-2 text-center">
    <a href="/" style="color: #69ba31"> EasyMerge.io </a> makes it easy for developers to avoid merge <br/>
    conflicts and code happy.
  </p>
</section>

<section id="em_believe" class="em_step">
  <h4>What we believe in</h4>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6 container">
        <div class="row justify-content-center em_happy_icon"><img class="em_gear_icon" src="/assets/gear.svg" alt="easy"/></div>
        <div class="row justify-content-center"><h4 class="em_medium">Simple</h4></div>
        <div class="row justify-content-center">
          <p class="text-center em_paddig">
          There is nothing to learn. You set up EasyMerge.io with a few clicks and you never have to worry about merge conflicts.
        </p></div>
      </div>

      <div class="col-12 col-lg-4 col-md-6 container">
        <div class="row justify-content-center em_happy_icon"><img class="em_momentum_icon" src="/assets/rocket.svg" alt="suprises"/></div>
        <div class="row justify-content-center"><h4 class="em_medium">Momentum</h4></div>
        <div class="row justify-content-center">
          <p class="text-center em_paddig">
            EasyMerge.io clears up bottlenecks so you can be super productive.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-md-6 container">
        <div class="row justify-content-center em_happy_icon"><img src="/assets/team.svg" alt="check"/></div>
        <div class="row justify-content-center"><h4 class="em_medium">Teamwork</h4></div>
        <div class="row justify-content-center">
          <p class="text-center em_paddig">
            We believe that teamwork is a real source of happiness. Avoiding merge conflicts is not just about avoiding the slog,
            it’s about working as a team - on our code, instead of “your code” and “my code”.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="em_how_email_2">
  <h4 class="em_ha em_medium">Stop merge conflicts now and forever</h4>
  <p class="text-center">Get notified when we launch:</p>
  <div class="em_email em_em">
    <%= render partial: 'shared/input_email' %>
  </div>
</section>