
<section id="em_how_it_works">
    <h1 class="text-center">
        How it works.
    </h1>
    <p class="col-8 offset-2 text-center">
      Think of  <a href="/" style="color: #69ba31"> EasyMerge.io </a> as your bodyguard always looking out for you.
      When someone starts changing the same code file you are working on,
      EasyMerge.io  will immediately alert you in Slack.
    </p>
</section>

<section id="em_steps" class="em_step">
  <h4 class="em_medium">Set it up in 3 easy steps:</h4>

  <div class="container">
   <div class="row">

    <div class="col-12 col-lg-4 col-md-6 container">
      <div class="row justify-content-center"><img src="/assets/octocat.svg" alt="octocat"/> </div>
      <div class="row flex-nowrap justify-content-center em_circle_row"><div class="circle"><h4>1</h4></div></div>
      <div class="row justify-content-center"> <p> Log in with Github </p></div>
    </div>

    <div class="col-12 col-lg-4 col-md-6 container">
      <div class="row justify-content-center"> <img src="/assets/repo_icon.svg" alt="repo"/></div>
      <div class="row flex-nowrap justify-content-center em_circle_row"><div class="circle"><h4>2</h4></div> </div>
      <div class="row justify-content-center"> <p> Add your repo </p></div>
    </div>

    <div class="col-12 col-lg-4 col-md-6 container">
      <div class="row justify-content-center"> <img src="/assets/slack_mark.svg" alt="slack"/> </div>
      <div class="row justify-content-center em_circle_row"><div class="circle"><h4>3</h4></div></div>
      <div class="row justify-content-center"> <p> Connect Slack </p></div>
    </div>
  </div>

   <div class="container row justify-content-center">
     <div class="em_steps_path"><img src="/assets/path/path_5.svg" alt="path"></div>
     <div class="em_steps_path" style="padding-top: 1%"><img src="/assets/path/path_6.svg" alt="path"></div>
  </div>

  </div>
</section>

<section id="em_how_email_1">
  <h4 class="em_hw em_medium green_text">... and you are done. No more merge conflicts.</h4>
  <h4 class="em_hw em_medium"> Ready to make your life easier?</h4>
  <p class="text-center">Get notified when we launch:</p>
  <div class="em_email em_em">
    <%= render partial: 'shared/input_email' %>
  </div>
</section>

<section id="em_happy" class="em_step">
  <h4 class="em_medium">Built for developer happiness</h4>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4 col-md-6 container">
        <div class="row justify-content-center em_happy_icon"><img src="/assets/easy_icon.svg" alt="easy"/></div>
        <div class="row justify-content-center"><h4 class="em_medium">Easy</h4></div>
        <div class="row justify-content-center"><p class="text-center em_paddig">A few clicks and it just works. </p></div>
      </div>

      <div class="col-12 col-lg-4 col-md-6 container">
        <div class="row justify-content-center em_happy_icon"><img src="/assets/no_surprises_icon.svg" alt="suprises"/></div>
        <div class="row justify-content-center"><h4 class="em_medium">No Surprises</h4></div>
        <div class="row justify-content-center">
          <p class="text-center em_paddig">
          You are ready to merge code and...
          you run into a conflict. Everything
          was working, and now it turns out
          the whole code changed.
          EasyMerge.io protects you from
          surprises like this.
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-md-6 container">
        <div class="row justify-content-center em_happy_icon path_check"><img src="/assets/check_icon.svg" alt="check"/></div>
        <div class="row justify-content-center"><h4 class="em_medium">No Hassle</h4></div>
        <div class="row justify-content-center">
          <p class="text-center em_paddig">
          You don’t have to review active
          branches every day to know who’s
          working on what... EasyMerge.io will
          ping you when you run into a risk of
          a merge conflict.
        </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="em_how_email_2">
  <h4 class="em_hw em_medium">Stop merge conflicts now and forever</h4>
  <p class="text-center">Get notified when we launch:</p>
  <div class="em_email em_em">
    <%= render partial: 'shared/input_email' %>
  </div>
</section>

