<header>
  <div class="em_intro">

    <div class="text-title">We are building EasyMerge.io so you can</div>

    <div class="title_head">Code happy without merge conflicts</div>

    <p>EasyMerge.io notifies you in Slack when someone else
      starts changing the same code, so you can avoid
      merge conflicts.</p>

    <p>Learn more about <a href="/how_it_works" style="color: #69ba31"> How It Works </a> or get notified
      when we launch:
    </p>

    <img class="em_line_right" src="/assets/path/path_1.svg"> </img>
    <div class="em_email col-6">
      <%= render partial: 'shared/input_email' %>
    </div>
  </div>

</header>

<section class="em_intro_right">

  <img class="em_line_left" src="/assets/path/path_2.svg"> </img>

  <p class="plain_txt_right">All devs run into merge conflicts. They sneak <br/>
    up on you at random times and you end up in <br/>
    a big hairy mess (and cause an enormous <br/>
    amount of hair pulling).
  </p>

</section>

<section class="container row">

  <div>
    <h4 class="plain_commit_comic em_medium">Here’s what happened to Nate:</h4>

    <div class="container">
      <div class="row em_comic_block">
        <img src="/assets/comic1/comic1.jpg" alt="comic1" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic1/comic2.jpg" alt="comic2" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic1/comic3.jpg" alt="comic3" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic1/comic4.jpg" alt="comic4" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic1/comic5.jpg" alt="comic5" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic1/comic6.jpg" alt="comic6" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
      </div>
    </div>
  </div>

  <div class="em_stop_conflict">
    <img src="/assets/path/path_3.svg" class="em_line_left_bottom"/>
    <h4 class="em_h2 em_medium">
      Has this happened to you? Have things blown up in your face when you thought you were done?
    </h4>
    <p class="em_h5">
      Before <a href="/" style="color: #69ba31"> EasyMerge.io </a>, merge conflicts were unavoidable. <br/>
      Just gotta clean up the mess. That’s no way to live!   <br/>
      EasyMerge.io stops merge conflicts once and for all.   <br/>
    </p>
    <img src="/assets/path/path_4.svg" class="em_line_right_bottom"/>
  </div>

  <div>
    <h4 class="plain_commit_comic em_medium">
      Here’s how Nate’s life is different with <a href="/" style="color: #69ba31"> EasyMerge.io: </a>
    </h4>
    <div class="container">
      <div class="row em_comic_block">
        <img src="/assets/comic2/comic1.jpg" alt="comic1" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic2/comic2.jpg" alt="comic2" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic2/comic3.jpg" alt="comic3" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic2/comic4.jpg" alt="comic4" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic2/comic5.jpg" alt="comic5" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
        <img src="/assets/comic2/comic6.jpg" alt="comic6" class="col-12 col-lg-4 col-md-6 em_comic_paint"/>
      </div>
    </div>
  </div>

</section>

<section id="em_list">
  <div class="container">
    <h4 class="em_h3 em_medium"> You can have it easy too!</h4>
    <div class="em_list_row offset-3">
      <div class="em_list_column"><img class="em_liist_img" src="/assets/check-mark.svg"/><div class="em_list_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div></div>
      <div class="em_list_column"><img class="em_liist_img" src="/assets/check-mark.svg"/><div class="em_list_p">Cut back on code re-writes, free up time</div></div>
      <div class="em_list_column"><img class="em_liist_img" src="/assets/check-mark.svg"/><div class="em_list_p">Show clients you're organized and professional</div></div>
      <div class="em_list_column"><img class="em_liist_img" src="/assets/check-mark.svg"/><div class="em_list_p">Eliminate ..., increase velocity</div></div>
    </div>
  </div>
</section>

<section class="em_email2">
  <h4 class="em_h3 em_medium">Stop merge conflicts now and forever</h4>
  <p class="text-center">Get notified when we launch:</p>
  <div class="em_em">
    <%= render partial: 'shared/input_email' %>
  </div>
</section>

<section id="em_testemonials">
  <div class="container">
    <div class="row d-flex">
        <%= render partial: 'quote', collection: @quotes%>
    </div>
  </div>
</section>

<section id="em_try_it_free">
  <button class="btn btn-success">Try it FREE</button>
  <h6 class="em_medium">No credit card required, up and running in 3 minutes</h6>
  <a href="/how_it_works" style="color: #1d496b"> How It Works </a>
</section>

<script>
  topRightPathAnimation();
</script>


