#em_how_it_works{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-top: 9%;
}

#em_how_it_works p {
  text-align: center;
  margin-top: 1.5%;
}

#em_how_it_works h1 {
  font-size: 2.4rem;
  letter-spacing: -0.2px;
  font-weight: 300;
}

.em_step {
  margin-top: 8.5%;
}

.em_step h4 {
  text-align: center;
  margin-bottom: 10%;
}

.em_step .row {
  margin: 0;
  padding: 0;
}

.em_steps_path {
  margin: -9% 4.5% 0;
}

.em_step .path_check {
  height: 55px;
  padding-top: 2%;
}

.em_step .em_circle_row {
  margin: 8% 0 4% 0;
}

#em_how_email_1 {
  padding: 0;
  margin: 0;
}

#em_how_email_1 .email-input {
  border: none;
  margin-right: 5%;
}

#em_how_email_1 .green_text {
  color: #69ba31;
  padding: 12% 0 4.5% 0;
  margin: 0;
}

#em_how_email_2 {
  margin: 10.9% 0 15% 2.7%;;
}

#em_how_email_2 .email-input {
  border: none;
  margin-right: 5%;
}

.em_hw {
  text-align: center;
  padding: 11.8% 0 0.9% 0;
}

#em_happy {
  margin-top: 18%;
}

#em_happy h4{
  margin-bottom: 6%;
}

#em_happy .em_paddig {
  padding: 0 15px;
}

#em_happy .em_happy_icon{
  margin: 4%;
}

.circle {
  background: #69ba31;
  width: 40px;
  height: 40px;
  color: azure;
  border-radius: 50%;
  text-align: center;
  padding-top: 2%;
}
