
#em_pricing {
  margin: 9% 1.5%;
}

#em_pricing h6 {
  font-size: 14px;
  margin-top: 5%;
}

#em_pricing h1{
  font-size: 64px;
  font-weight: 500;
}

#em_pricing .dollar {
  font-size: 44px;
}

#em_pricing ul {
  padding: 10% 0 5% 12%;
}

#em_pricing li {
  flex-wrap: nowrap;
  color: yellow;
  margin-top: 1.3%;
}

#em_pricing li span {
  color: black;
}

#em_pricing .btn-primary {
  width: 50%;
}

#em_bonus {
  margin-bottom: 2.6%;
}

#em_bonus .container {
  padding-top: 3%;
}
#em_bonus .img_pen {
  margin-bottom: -18.5%;
}
#em_bonus .green_text {
  color: #69ba31;
  margin: 1% 0 1.5%;
  font-weight: 600;
}

.em_nor {
  padding-top: 4%;
  flex-wrap: nowrap;
}

#em_questions {
  margin: 17% 0 12.5%;
}

#em_questions hr {
  border: none;
  color: black;
  background-color: black;
  height: 1px;
  width: 82%;
  margin-bottom: -2.5%;
}
.ask-questions {
  margin: 5.2% 0 1% 9.5%;
  font-size: 18px;
  letter-spacing: 0.3px;
}

.text-questions {
  padding-left: 11%;
  margin-bottom: 2.5%;
  max-width: 90%;
}